*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.container{
    width: 70%;
    margin: auto;
}

.logo--header{
    width: 200px;
    padding-top: 5px;
}



header li{
    list-style-type: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 25px 10px 0px 0px;
    border-right-width: 2px;
    font-size: 14px;
}

header li a {
    text-decoration: none;
    color: grey;
}

main {
    margin: 20px auto;
}



.big-img{
    background-image: url(../img/banner.jpg);
    margin: 20px auto;
    background-size: cover;
    height: 820px;
    border-radius: 30px;
    
}

.title{
    position: relative;
    top: 650px;
    padding-left: 30px;
}

.debug header {
    /*background-color: pink;*/
    /*height: 130px;*/
    
}


/*.debug .main--yellow {
    height: 500px;
    margin: 20px 0px;
    background-color: rgb(244 220 136);
}*/

.debug .main--blue {
    height: 640px;
    margin: 20px 0px;
    background-color: rgb(39, 81, 158);
}

.debug .header-blue {
    height: 100px;
    margin: 0px 0px 20px 0px;
    background-color: rgb(133, 168, 233);
}

.debug .blue-left{
    height: 500px;
    width: 15%;
    margin: 0px 10px 20px 0px;
    background-color: rgb(133, 168, 233);
    float: left;
}


.debug .blue-center {
    height: 500px;
    margin: 0px 10px 20px 0px;
    background-color: rgb(133, 168, 233);
    float: left;
    width: 67%;
}

.debug .blue-right {
    height: 500px;
    width: 15%;
    margin: 0px 0px 0px 0px;
    background-color: rgb(133, 168, 233);
    float:right;
}

.debug footer {
    background-color: rgb(110, 52, 116);
    height: 100px;   
}