*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dongle';
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.container{
    width: 70%;
    margin: auto;
}

.logo--header{
    width: 200px;
    padding-top: 5px;
}



header li{
    list-style-type: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 25px 10px 0px 0px;
    border-right-width: 2px;
    font-size: 14px;
}

header li a {
    text-decoration: none;
    color: grey;
}

main {
    margin: 20px auto;
}



.big-img{
    background-image: url(../img/banner.jpg);
    margin: 20px auto;
    background-size: cover;
    height: 820px;
    border-radius: 30px;
    background-position: center;
    filter: brightness(70%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 30px;
    
}

.title{
    position: relative;
    top: 650px;
    padding-left: 30px;
    display: inline-block;
    width: 50%;
    
}

.second-title{
    font-size: 50px;
    font-weight: bolder;
}

.header-blue p{
    font-size: 20px;
    font-weight: lighter;
}

.blue-left{
    height: 500px;
    width: 15%;
    margin: 0% 2% 0% 0%;
    float: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 30px;
}

.img-sx{
    background-image: url(../img/img-1.jpg);
    height: 50%;
    background-size: cover;
    border-radius: 30px;
    background-position: center;
    filter: brightness(70%);
}

.text-left {
    margin-top: 20px;
    padding:5px;
}

.blue-center {
    height: 500px;
    margin:  0% 2% 0% 0%;
    float: left;
    width: 66%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 30px;
}


.img-ctr{
    background-image: url(../img/banner-2.jpg);
    height: 50%;
    background-size: cover;
    border-radius: 30px;
    background-position: center;
    filter: brightness(70%);
}

.text-ctr {
    margin-top: 20px;
    padding:5px;
}


.blue-dx {
    height: 500px;
    width: 15%;
    float:left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 30px;
}

.img-dx{
    background-image: url(../img/img-3.jpg);
    height: 50%;
    background-size: cover;
    border-radius: 30px;
    background-position: center;
    filter: brightness(70%);
}


.text-dx {
    margin-top: 20px;
    padding:5px;
}

.main--blue p{
    margin-top: 10px;
}

footer p{
    text-align: center;
}

span{
    color: tomato;
}






